[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
flask-heroku = "*"
gunicorn = "*"
datetime = "*"
sqlalchemy = "*"
flask-mail = "*"
flask-script = "*"
"psycopg2" = "*"
"boto3" = "*"
"flask-s3" = "*"
Pipfile = "*"

[requires]
python_version = "3.6"
