.header {
    width: 100%;
    background-color: #fff;
    padding: 0 10px;
    position: fixed;
}

.header ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.header li {
    display: inline-block;
    padding: 25px 15px;
}

.header a {
    text-decoration: none;
    text-align: center;
    color: black;
}

.footer {
    width: 100%;
    padding: 0 0 10px 0;
    bottom: 0;
    background-color: #eaecef;
    border-top: 3px solid #9893DA;
}

.footer ul {
    list-style-type: none;
}

.footer a {
    text-decoration: none;
    text-align: center;
    color: #5c5672;
}

.footer a:hover {
    text-decoration: underline;
}

.category {
    display: inline-block;
    margin: 25px 50px;
}

.category a {
    float: left;
}

.categoryWrapper {
    width: 70%;
    margin: 0 auto;
}

.contentWrapper {
    width: 60%;
    padding: 150px 0 100px 0;
    margin: auto;
    min-height: 500px;
}

.shadow {
    box-shadow: 5px 5px 5px #bbbbbb;
}

/* styles for the entire project */
body {
    font-size: 1.25em;
    font-family: 'Merriweather', serif;
    line-height: 1.25;
    box-sizing: border-box;
    margin: 0;
}

input[type='text'] {
    width: 50%;
    border-radius: 4px;
    padding: 4px;
}

textarea {
    width: 50%;
    border-radius: 4px;
    padding: 4px;
    min-height: 200px;
}

.container {
    min-height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

/* id's */
#blog {
    margin: 0 20px;
    float: right;
}

#veep {
    font-weight: bold;
}

#veep > a {
    font-size: 1.1em;
    color: #9893DA;
}

#affiliates {
    margin-left: 25%;
    padding-right: 50px;
}

/* classes for every template to use */
.colorBorder {
    border-bottom: 3px solid #9893DA;
}

.contentEntry {
    padding: 15px 0;
    line-height: 1.75;
}

.contentBody {
    color: #444444;
    font-size: 0.90em;
}

.selected {
    border-radius: 4px;
    background-color: #efefef;
    transition: 200ms;
}

.inline {
    display: inline-block;
}

select {
    border: 3px solid #9893DA;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 0.75em;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

input {
    background-color: white;
    border: 1px solid #777777;
    border-radius: 8px;
    padding: 8px;
    font-size: 0.8em;
    font-weight: 600;
}

.emphasize {
    color: #9893DA;
    font-weight: 600;
}

.expanded > li {
    padding-top: 25px;
    margin-top: 50px;
}

.expanded {
    border-left: 3px solid #9893DA;
    border-radius: 5px;
}