<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Test</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
      {% block stylesheets %}
      {% endblock %}
      <meta charset="utf-8">
  </head>
  <body>
      <div class="header">
          <ul>
              <li><a href="{{url_for('main.index')}}">VEEP</a></li>
              <li><a href="{{url_for('main.projects')}}">Projects</a></li>
              <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>
              <li><a href="{{url_for('main.our_team')}}">Our Team</a></li>
              <!--TODO: add the links for this once its up-->
              <li><a href="/">Blog</a></li>
          </ul>
      </div>

      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li class="warning">{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}

      <div class="footer">
          <div class="category">
              <h4>Social Media</h4>
              <ul>
                  <li><a href="/">Facebook</a></li>
                  <li><a href="/">Placeholder</a></li>
              </ul>
          </div>
          <div class="category">
              <h4>Apply</h4>
              <ul>
                  <!--TODO probably should find a more efficient way of doing this (IDK how efficent python string concatenations are done) -- Vincent-->
                  <li><a href="{{url_for('main.apply') + '/project_manager'}}">Project Manager</a></li>
                  <li><a href="{{url_for('main.apply') + '/project_member'}}">Project Member</a></li>
                  <li><a href="{{url_for('main.apply') + '/marketing'}}">Marketing</a></li>
                  <li><a href="{{url_for('main.apply') + '/business_development'}}">Business Development</a></li>
                  <li><a href="{{url_for('main.apply') + '/operations'}}">Operations</a></li>
                  <li><a href="{{url_for('main.apply') + '/digital_team'}}">Digital Team</a></li>
              </ul>
          </div>
       </div>

      <!--include jquery. Also keep scripts at bottom here because js can block browser from
      grabbing other stuff online, slowing page load.-->
      <script
              src="https://code.jquery.com/jquery-3.3.1.js"
              integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
              crossorigin="anonymous"></script>
      {% block scripts %}
      {% endblock %}
  </body>
</html>