<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Test</title>
      <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
      <meta charset="utf-8">
  </head>
  <body>
      <div class="header">
          <ul>
              <li><a href="{{url_for('main.index')}}">VEEP</a></li>
              <li><a href="{{url_for('main.projects')}}">Projects</a></li>
              <!--TODO: add the links for this once its up-->
              <li><a href="/">Contact Us</a></li>
              <li><a href="/">Our Team</a></li>
              <li><a href="/">Blog</a></li>
          </ul>
      </div>

      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <hr>

      {% block content %}
      {% endblock %}

      <div class="footer">
          <div class="category">
              <h4>Social Media</h4>
              <ul>
                  <li><a href="/">Facebook</a></li>
                  <li><a href="/">Placeholder</a></li>
              </ul>
          </div>
          <div class="category">
              <h4>Apply</h4>
              <ul>
                  <li><a href="/">Project Manager</a></li>
                  <li><a href="/">Project Member</a></li>
                  <li><a href="/">Marketing</a></li>
                  <li><a href="/">Business Development</a></li>
                  <li><a href="/">Operations</a></li>
                  <li><a href="/">Digital Team</a></li>
              </ul>
          </div>
       </div>
  </body>
</html>