{% extends 'base.htm' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block banner %}
<div class="banner colorBorder">
    <span><h2>VEEP</h2></span>
</div>
{% endblock %}

{% block content %}
<div class="introduction contentEntry">
    <h3>What is VEEP?</h3>
    <p class="contentBody">VEEP stands for Volunteering Engineering Experience Program. We work with not-for-profits to build
    the next cohort of engineering students! Working with us means you are looking for...</p>
</div>

<div class="engagement contentEntry">
    <h3>Community Engagement</h3>
    <p class="contentBody">You'd love the chance to make a difference in your local community. You bring a balance of impact and
    empathy to the volunteering community. But you also want...</p>
</div>

<div class="learning contentEntry">
    <h3>Learning Opportunities</h3>
    <p class="contentBody">You want to explore engineering across different disciplines -- and learn more about them, in a "doing"
    context! Classes are amazing for building fundamentals, but now it's time to build off of theory into
    practice. But you're an engineering hopeful, so you definitely want...</p>
</div>

<div class="experience contentEntry">
    <h3>Experience</h3>
    <p class="contentBody">If you don't want to branch out, that's fine too! VEEP supports a wide variety of projects so you'll
    be able to accumulate professional know-how before you enter the workforce. Employers like 4.0's but
    they <i>love</i> work experience!</p>
</div>

<div class="howItWorks">
    <h3>How It Works</h3>

    <span>
        <h4 class="inline">
            I am a(n) :
        </h4>
        <select name="imRole" id="imRole">
            <option value="team_member" selected>Team Member</option>
            <option value="project_manager">Project Manager</option>
            <option value="executive">Executive</option>
            <option value="nfp">Not-for-Profit</option>
        </select>
    </span>

    <div id="roleTypes">
        <p id="team_member" class="contentBody">A</p>
        <p id="project_manager" class="contentBody" hidden>B</p>
        <p id="executive" class="contentBody" hidden>C</p>
        <p id="nfp" class="contentBody" hidden>D</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock %}