{% extends 'base.htm' %}

{% block content %}
<div class="submitForm">
    {% if init_page %}
    <ul>
        <li><a href="{{ url_for('.submit_type', type='project') }}">Submit Project</a></li>
        <li><a href="{{ url_for('.submit_type', type='team_member') }}">Submit Team Member</a></li>
        <li><a href="{{ url_for('.submit_type', type='executive') }}">Submit Executive</a></li>
        <li><a href="{{ url_for('.submit_type', type='event') }}">Submit Event</a></li>
    </ul>
    {% endif %}

    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div id="selections">
            {% if formtype['projects'] %}
            <div class="projects" id="project">
                <div>
                    {{ form.project_title.label}}<br>
                    {{ form.project_title }}
                </div>

                <div>
                    {{ form.project_text.label }}<br>
                    {{ form.project_text }}
                </div>

                <div>
                    {{ form.project_tags.label }}<br>
                    {{ form.project_tags }}
                </div>
            </div>
            {% elif formtype['team_member'] %}
            <div class="teamMembers" id="team_member" hidden>
                {{ form.team_name.label }}<br>
                {{ form.team_name }}<br>

                {{ form.team_member_name.label }}<br>
                {{ form.team_member_name }}<br>

                {{ form.team_member_email.label}}<br>
                {{ form.team_member_email}}
            </div>
            {% elif formtype['executive'] %}
            <div class="executives" id="executive" hidden>
                {{ form.exec_team.label }}<br>
                {{ form.exec_team }}<br>

                {{ form.exec_member_name.label }}<br>
                {{ form.exec_member_name }}<br>

                {{ form.exec_member_email.label }}<br>
                {{ form.exec_member_email }}
            </div>
            {% elif formtype['event'] %}
            <div class="events" id="event" hidden>
                {{ form.event_title.label}}<br>
                {{ form.event_title }}<br>

                {{ form.event_date.label }}<br>
                {{ form.event_date }}<br>

                {{ form.event_location.label}}<br>
                {{ form.event_location}}<br>

                {{ form.event_desc.label}}<br>
                {{ form.event_desc}}
            </div>
            {% endif %}
        </div>
        {{ form.submit() }}
    </form>
    {% endif %}
</div>
{% endblock %}
