{% extends 'base.htm' %}

{% block content %}
<div class="submitForm">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="submit_type">
            {{ form.select.label }}<br><br>
            {{ form.select }}
        </p>

        <p class="projects">
            {{ form.project_title.label}}<br>
            {{ form.project_title }}

            {{ form.project_text.label }}<br>
            {{ form.project_text }}

            {{ form.project_tags.label }}<br>
            {{ form.project_tags }}
        </p>

        <p class="teamMembers">
            {{ form.team_name.label }}<br>
            {{ form.team_name }}<br>

            {{ form.team_member_name.label }}<br>
            {{ form.team_member_name }}<br>

            {{ form.team_member_email.label}}<br>
            {{ form.team_member_email}}
        </p>

        <p class="executives">
            {{ form.exec_team.label }}<br>
            {{ form.exec_team }}<br>

            {{ form.exec_member_name.label }}<br>
            {{ form.exec_member_name }}<br>

            {{ form.exec_member_email.label }}<br>
            {{ form.exec_member_email }}
        </p>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='scripts/submit.js')}}"></script>
{% endblock %}
