{% extends 'base.htm' %}

{% block content %}
<div class="submitForm">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="submit_type">
            {{ form.select.label }}<br>
            {{ form.select }}
        </p>

        <div id="selections">
            <p class="projects" id="project">
                <div>
                    {{ form.project_title.label}}<br>
                    {{ form.project_title }}
                </div>

                <div>
                    {{ form.project_text.label }}<br>
                    {{ form.project_text }}
                </div>

                <div>
                    {{ form.project_tags.label }}<br>
                    {{ form.project_tags }}
                </div>
            </p>

            <p class="teamMembers" id="team_member" hidden>
                {{ form.team_name.label }}<br>
                {{ form.team_name }}<br>

                {{ form.team_member_name.label }}<br>
                {{ form.team_member_name }}<br>

                {{ form.team_member_email.label}}<br>
                {{ form.team_member_email}}
            </p>

            <p class="executives" id="executive" hidden>
                {{ form.exec_team.label }}<br>
                {{ form.exec_team }}<br>

                {{ form.exec_member_name.label }}<br>
                {{ form.exec_member_name }}<br>

                {{ form.exec_member_email.label }}<br>
                {{ form.exec_member_email }}
            </p>

            <p>{{ form.submit() }}</p>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='scripts/submit.js')}}"></script>
{% endblock %}
